NODE_ENV=
LOG_LEVEL=
DB_HOST=0.0.0.0
DB_PORT=5434
DB_USER=postgres
DB_PASSWORD= ""
DB_DATABASE=votantes
DB_SCHEMA=
REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_URL=
REDIS_PASSWORD=root
REDIS_DATABASE=0
JWT_SECRET=
JWT_ISSUER=
AUDIT_SCHEMA=
USER_TEMP_PASSWORD=
GOOGLE_AUTH_URL=
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
GOOGLE_AUTH_TOKEN_URL=
GOOGLE_AUTH_CALLBACK_URL=
